.hero {
    height: 100vh;
    background-image: url("../imgs/hero-front.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #000; // Optional: Fallback color to handle gaps

    h1 {
        margin-top: 30vh;
    }

    i{
        margin-top: 30vh;
        margin-bottom: 5vh;
    }
}


