
    .tour{
        width: 100%;
        height: 500vh;

    }

    .lottie-container {
        .animation{
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            z-index: -1;

    }
}

.website-content{
    width: 100%;
    height: 50vh;
}

.end-lottie{
    top: 1000vh;
    width: 100%;
    height: 1px;
}

 @keyframes animateGrain {
    0% {background-position: 0% 0%}
    100% {background-position: 100% 100%}
 }