@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

img{
    width: 100%;
    height: auto;
}

h1, h5{ 
    font-family:"Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.hover-links{

  transition: 500ms;
  &:hover{
    font-size: large;
    
  }
}

.btn .hover-links{
  transition: 500ms;
  &:hover{
    font-size: larger;
    
  }
}



.grad-type {
  font-family: 'HelveticaNeue', sans-serif;
  background: linear-gradient( 360deg, #9e9e9e, #b7b7b7, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.sec-b {
  background-image: url(../imgs/front-side.webp) ;
object-fit: contain;
}

.carousel-inner {

  

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.carousel-item {

  @media (min-width: 768px) {
    flex: 0 0 20%; // Adjust based on the number of items to display
    max-width: 20%; // Adjust based on the number of items to display
    margin-right: 2rem !important;
    margin-right: 2rem; // Add your desired margin
  }
}

.h100{
  height: 100vh;
}

.sec-w {
  .container {
      max-width: 100%;
  }
  .row {
      display: flex;
      flex-wrap: wrap;
  }
  .col-md-4 {
      display: flex;
      flex-direction: column;
  }

  p{
    font-weight: 400;
  }

  a{
    .grad-type{
      font-size: 1.2rem;
    }
  }
}



.form-section{
  background-image: url("../imgs/inside.webp");
  object-fit: cover; 
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 100%;
  max-width: 700px;

 .form-control{
  color: #ffffff;

 
 }
 input::placeholder {
  color: white  ;
  opacity: 1; // For Firefox
}

input{
  color: white;
}
  

  @media (min-width: 758px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      .form-group {
          flex-basis: 33%;
          margin-bottom: 1rem;
      }

      .form-row{
        width: 45%;
        margin: 0px;
      }
  }
}

.form-group {
  height: 70px;

  #submitButton {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: larger;
  }

  label {
      display: block;
      margin-bottom: 0.5rem;
  }

  input,
  select {
      width: 100%;
  }

  .btn{
    border: solid 3px white;
    width: 100%;

    .grad-type{
      margin: 0;
    }
  }

  @media (min-width: 758px) {
      height: 50px;
  }


}

.espec-1 img{
  width: 100%;
  height: auto;

  @media (min-width: 758px) {
      width: 50%;
  }
}


