
h1, h5{ 
    font-family:"Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.grad-type {
  font-family: 'HelveticaNeue', sans-serif;
  background: linear-gradient( 360deg, #9e9e9e, #b7b7b7, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.carousel-inner {

  

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.carousel-item {
  @media (min-width: 768px) {
    flex: 0 0 20%; // Adjust based on the number of items to display
    max-width: 20%; // Adjust based on the number of items to display
    margin-right: 2rem !important;
    margin-right: 2rem; // Add your desired margin
  }
}


.sec-w {
  .container {
      max-width: 100%;
  }
  .row {
      display: flex;
      flex-wrap: wrap;
  }
  .col-md-4 {
      display: flex;
      flex-direction: column;
  }

  p{
    font-weight: 400;
  }

  a{
    .grad-type{
      font-size: 1.2rem;
    }
  }
}
